{% extends 'index.html' %}


{% block title %}自耕碼農{% endblock %}
{% block page_h1 %}
        <!-- Page content-->
        <div class="container">
          <div class="row">
              <!-- Blog entries-->
              <div class="col-lg-8">
                <br>
                  <!-- Featured blog post-->
                  <div class="card mb-4">
                    <div class="card-header">置頂</div>
                      <!-- <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a> -->
                      <div class="card-body">
                          <h3 class="card-title">阿飄的個人介紹</h3>
                          <p class="card-text">個人網站：
                            <br>聯絡信箱：
                          </p>
                          <div class="card">
                            <div class="card-header">碎碎念</div>
                            <div class="card-message">
                                {% for item in mb_message%}
                                <p class="card-text">{% filter markdown %}{{item.mb_message}}{% endfilter %}</p>
                                <p class="card-text">{% filter markdown %}---{% endfilter %}</p>
                                {% endfor %}
                            </div>
                          </div>
                      </div>
                  </div>
                  <!-- Nested row for non-featured blog posts-->
                  <div class="row">
                      <div class="col-lg-12">
                        {% for article in latest_articles %}
                        <div class="card mb-4">
                            <div class="row g-0">
                                <!-- <div class="col-md-4">
                                    <img src="{{ article.image_url }}" alt="{{ article.title }}" class="img-fluid">
                                </div> -->
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <div class="small text-muted">{{ article.created_at.strftime('%B %d, %Y') }}</div>
                                        <h2 class="card-title h4">{{ article.title }}</h2>
                                        <p class="card-text">{{ article.content[:50] }}...</p>
                                        <a class="btn btn-primary" href="{{ url_for('blog.article', article_id=article.id) }}">閱讀全文 →</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        
                      </div>
                  </div>

              </div>
              {% endblock %}
          </div>
      </div>



