{% extends 'index.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}註冊碼農{% endblock %}
{% block page_h1 %}
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">會員註冊</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">成為部落客的起點!</div>
                            <!-- Post categories-->
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">註冊</a>
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">部落格</a>
                        </header>
                        <!-- Preview image figure-->
                        <!-- <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure> -->
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">{{ wtf.quick_form(form) }}</p>
                        </section>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                    </section>
                </div>
                {% endblock %}
            </div>
        </div>
