{% extends 'index.html' %}


{% block title %}{{ article.title }}{% endblock %}
{% block page_h1 %}
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{ article.title }}</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">{{ article.created_at.strftime('%B %d, %Y') }}</div>
                            <!-- Post categories-->
                            {% for tag in article.tags %}
                                <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ tag.name }}</a>
                            {% endfor %}
                        </header>
                        <!-- Preview image figure-->
                        <!-- <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure> -->
                        <!-- Post content-->
                        <section class="mb-5">
                            {{ article.content | markdown }}
                        </section>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                    </section>
                </div>
                {% endblock %}
            </div>
        </div>
