{% extends 'index.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}管理文章分類{% endblock %}
{% block page_h1 %}
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">管理文章分類</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">管理文章分類!</div>
                        </header>
                        <!-- Preview image figure-->
                        <!-- <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure> -->
                        <!-- Post content-->
                        <section class="mb-5">
                            <div class="card">
                                <div class="card-header">分類</div>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>分類編號</th>
                                                <th>分類名稱</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for category in categorys %}
                                            <tr>
                                                <td>{{ category.id }}</td>
                                                <td>{{ category.name }}</td>
                                                <td>
                                                    <a href="{{ url_for('blog.edit_category', category_id=category.id) }}" class="btn btn-danger btn-sm">編輯</a>
                                                    <a href="{{ url_for('blog.delete_category', category_id=category.id) }}" class="btn btn-danger btn-sm">刪除</a>
                                                </td>

                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- 分頁 -->
                                <div class="post-paginate">
                                    {% if pages.has_prev %}
                                        <a href="{{ url_for('blog.edit_list_category', page=pages.prev_num) }}">&laquo; 上一頁</a>
                                    {% else %}
                                        <span class="disabled">&laquo; 上一頁</span>
                                    {% endif %}
                                    {% for page in pages.iter_pages() %}
                                        {% if page %}
                                            {% if page == pages.page %}
                                                <strong>{{ page }}</strong>
                                            {% else %}
                                                <a href="{{ url_for('blog.edit_list_category', page=page) }}">{{ page }}</a>
                                            {% endif %}
                                        {% else %}
                                            <span class="ellipsis">...</span>
                                        {% endif %}
                                    {% endfor %}
                                    {% if pages.has_next %}
                                        <a href="{{ url_for('blog.edit_list_category', page=pages.next_num) }}">下一頁 &raquo;</a>
                                    {% else %}
                                        <span class="disabled">下一頁 &raquo;</span>
                                    {% endif %}
                                </div>
                            </div>
                        </section>
                        <section class="mb-5">
                            <div class="card mb-4">
                                <div class="card-header">新增 / 編輯文章分類</div>
                                <div class="card-body">
                                    <form method="post" {% if category_id %} action="{{ url_for('blog.edit_category', category_id=category_id) }}" {% else %} action="{{ url_for('blog.add_category') }}" {% endif %}>                                    <form method="post">
                                        <!-- CSRF 欄位 -->
                                        {{ form.hidden_tag() }}
                                        <div class="form-group">
                                            {{ form.name.label(class="form-label") }}
                                            {{ form.name(class="form-control") }}
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            {{ form.submit(class="btn btn-primary") }}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                    </section>
                </div>
                {% endblock %}
            </div>
        </div>
